<nav>
    <ul>
        <li >
            <a href="/admin" >
            Shop
            </a>
        </li>
        <li >
            <a href="/admin/add-product" >
            add product
            </a>

        </li>
        <li >
            <a href="/admin/products" >
            Product
            </a>

        </li>
    </ul>
</nav>