<nav>
    <ul>
        <li >
            <a href="/" >
            Shop
            </a>
        </li>
        <li >
            <a href="/cart" >
            Cart
            </a>

        </li>
        <li >
            <a href="/products" >
            Product
            </a>

        </li>
        <li >
            <a href="/admin/add-product" >
            add product
            </a>

        </li>
        <li >
            <a href="/admin/products" >
            Admin Product
            </a>

        </li>
    </ul>
</nav>