    <%- include('includes/header.ejs') %>
    <title>Document</title>
</head>
<body>
   <%- include('includes/navigation.ejs') %>
        <main>
           <form
           action="/admin/new-product"
           method="POST">
             <input name="product_name"
             />
             <button
             type="submit">save</button>
           </form>
        </main>
      

    
</body>
</html>