<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
</head>
<body>
    <header>
     <%- include('includes/navigation.ejs') %>
        <main>
           <form
           action="/admin/new-product"
           method="POST">
             <input name="product_name"
             />
             <button
             type="submit">save</button>
           </form>
          
           <% if(products.length) { %>
            <ul>
               <% for(let product of products) { %>
               <li>
                   <%= product.title %>
                   <form
                   action="/admin/delete-product/<%= product.title %>" 
                   method="POST">
                    <button
                    >
                        remove
                    </button>
                   </form>
                  
               </li>
               <% } %>
            </ul>
           <% } else { %>
            <h1>
                no products found
            </h1>
            <% } %>

        </main>
      
    </header>

    
</body>
</html>